<?xml version="1.0" encoding="utf-8" ?>
<quizzenger version="2.0">
	<eventtriggers>
		<eventtrigger name="always">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="game-question-answered-correct">
			<producer_score>0</producer_score>
			<consumer_score>20</consumer_score>
		</eventtrigger>
		<eventtrigger name="question-answered-correct">
			<producer_score>0</producer_score>
			<consumer_score>10</consumer_score>
		</eventtrigger>
		<eventtrigger name="question-created">
			<producer_score>30</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="game-end">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
	</eventtriggers>
	<achievements>
		<achievement type="GameWin">
			<name>Game gewinnen</name>
			<description>Gewinne ein Game mit 2 Teilnehmern</description>
			<sort_order>2</sort_order>
			<image>achievement-game-win-2</image>
			<arguments>
				<argument name="member-count" value="2" />
			</arguments>
			<bonus_score>20</bonus_score>
			<eventtriggers>
				<eventtrigger name="game-end" />
			</eventtriggers>
		</achievement>
		<achievement type="GameWin">
			<name>Game gewinnen</name>
			<description>Gewinne ein Game mit 5 Teilnehmern</description>
			<sort_order>5</sort_order>
			<image>achievement-game-win-5</image>
			<arguments>
				<argument name="member-count" value="5" />
			</arguments>
			<bonus_score>100</bonus_score>
			<eventtriggers>
				<eventtrigger name="game-end" />
			</eventtriggers>
		</achievement>
		<achievement type="GameWin">
			<name>Game gewinnen</name>
			<description>Gewinne ein Game mit 10 Teilnehmern</description>
			<sort_order>10</sort_order>
			<image>achievement-game-win-10</image>
			<arguments>
				<argument name="member-count" value="10" />
			</arguments>
			<bonus_score>250</bonus_score>
			<eventtriggers>
				<eventtrigger name="game-end" />
			</eventtriggers>
		</achievement>
		<achievement type="GameWin">
			<name>Game gewinnen</name>
			<description>Gewinne ein Game mit 20 Teilnehmern</description>
			<sort_order>20</sort_order>
			<image>achievement-game-win-20</image>
			<arguments>
				<argument name="member-count" value="20" />
			</arguments>
			<bonus_score>500</bonus_score>
			<eventtriggers>
				<eventtrigger name="game-end" />
			</eventtriggers>
		</achievement>
	</achievements>
	<ranks>
	</ranks>
</quizzenger>