<?xml version="1.0" encoding="utf-8" ?>
<quizzenger version="2.0">
	<eventtriggers>
		<eventtrigger name="always">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="game-question-answered-correct">
			<producer_score>0</producer_score>
			<consumer_score>20</consumer_score>
		</eventtrigger>
		<eventtrigger name="question-answered-correct">
			<producer_score>0</producer_score>
			<consumer_score>10</consumer_score>
		</eventtrigger>
		<eventtrigger name="question-created">
			<producer_score>30</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="quiz-end">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="game-end">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="game-start">
			<producer_score>0</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
		<eventtrigger name="question-removed">
			<producer_score>-30</producer_score>
			<consumer_score>0</consumer_score>
		</eventtrigger>
	</eventtriggers>
	<achievements>
	</achievements>
	<ranks>
	</ranks>
	<messages>
	</messages>
	<settings>
		<setting name="q.scoring.moderator-threshold" value="1000" />
		<setting name="q.scoring.producer-multiplier" value="1.75" />
	</settings>
</quizzenger>