<?xml version="1.0" encoding="utf-8" ?>
<quizzenger version="2.0">
	<achievements>
		<achievement type="QuestionAnsweredCorrect">
			<name>200 Fragen!</name>
			<order>200</order>
			<description>Du hast 200 Fragen korrekt beantwortet.</description>
			<image>question-answered-200</image>
			<bonusscore>200</bonusscore>
			<arguments>
				<argument name="question-count" value="100" />
			</arguments>
			<triggers>
				<trigger name="question-answered" />
				<trigger name="game-question-answered" />
			</triggers>
		</achievement>
		<achievement type="Date">
			<name>Weihnachtsmann</name>
			<order>100</order>
			<description>Du hast eine Frage an Weihnachten korrekt gelöst.</description>
			<image>date-christmas</image>
			<bonusscore>50</bonusscore>
			<arguments>
				<argument name="date" value="*-12-24" />
			</arguments>
			<triggers>
				<trigger name="always" />
			</triggers>
		</achievement>
	</achievements>
	<ranks>
		<rank name="Neuling" threshold="0" image="neuling" />
		<rank name="Besucher" threshold="1000" image="besucher" />
		<rank name="Einsteiger" threshold="2500" image="einsteiger" />
		<rank name="Aufsteiger" threshold="5000" image="aufsteiger" />
		<rank name="Fragekenner" threshold="8000" image="fragekenner" />
		<rank name="Alleskönner" threshold="12000" image="alleskoenner" />
		<rank name="Profi" threshold="18000" image="profi" />
		<rank name="Veteran" threshold="26000" image="veteran" />
		<rank name="Meister" threshold="34000" image="meister" />
		<rank name="Baron" threshold="44000" image="baron" />
		<rank name="Legende" threshold="60000" image="legende" />
	</ranks>
</quizzenger>