@CHARSET "ISO-8859-1";

::selection { background: #4089c8; color: #fff; }
::-moz-selection { background: #4089c8; color: #fff; }

body {
	background-image: url(../img/bg.png);
}

@media ( max-width :768px) {
	body { padding-top: 70px; }
}
@media ( min-width :768px) {
	body { padding-top: 170px; }
}

@media ( min-width :992px) {
	body { padding-top: 120px; }
}

@media ( min-width :1200px) {
	body { padding-top: 70px; }
}

.category-badge {
	float:left;
	heigth:13px;
	padding:4px 25px 4px 4px;
	margin-right: 4px;
}


.centered {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.glyphicon-none:before {
	content: "\2122";
	color: transparent !important;
}

#questionTextAddition {
	border:2px solid #ccc;
	display: none;
	width:400px;
	margin-top: 10px;
	padding: 5px;
	background:#FFF;
	position:absolute;
}

#questionTextSpan:hover #questionTextAddition {
	display: block;
}

input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=radio].css-checkbox-relative {
	position: relative;
	visibility: hidden;
	left: 0px;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:23px;
	height:23px;
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:22px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}

label.css-label {
	background-image:url(../img/css_checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}
.panel-heading a.collapsed:after {
	content: "\e080";
}

.panel-heading h1 {
	margin: 0;
}

/* RATING STAR PART  */
#hide {
	display:none;
}

.rating input {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:17px;
}

.rating span {
	width:24px;
	height:16px;
	line-height:16px;
	padding:1px 22px 1px 0; /* 1px FireFox fix */
	background:url(../img/star.png) no-repeat -22px 0;
}

/* Change span immediately following the checked radio */
.rating input:checked + span {
	background-position:-22px 0;
}

/* Reset all remaining stars back to default background.
This supersedes the above due to its ordering. */

.rating input:checked + span ~ span {
		background-position:0 0;
}

.rating input:hover + span {
		background-position:-22px 0;
}

/* Reset all remaining stars back to default background.
This supersedes the above due to its ordering. */

.rating input:hover + span ~ span {
		background-position:0 0;
}

.no-margin {
	margin: 0;
}

.clickable:hover, .clickable-toggle:hover {
	color: #2a2a2a;
	cursor:pointer;
	text-decoration: underline;
	background-position:0 0;
}

div>a:hover {
	color: inherit;
}

div>a {
	color: inherit;
}

.video-container {
	position: relative;
	height: 0;
	overflow: hidden;
}

.image-container {
	position: relative;
	overflow: hidden;
	height: auto;
}


@media ( max-width :992px) {
	.video-container { 	padding-bottom: 56.25%; max-width: 100%; }
	.image-container { max-width: 100%;}
}
@media ( min-width :992px) {
	.video-container { 	padding-bottom: 388px; max-width: 690px; }
	.image-container { max-width: 690px;}
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ----------------------------------------------- */
/*                    Rankbar                      */
/* ----------------------------------------------- */

.rankbar {
	height:4px;
	background:#eee;
	width:100%;
	position:relative;
	margin-top: 1em;
	white-space:nowrap;
	margin-bottom: 5em;
}

.rank {
	display: inline-block;
	vertical-align:top;
	width: 9%;
	min-width: 80px;
	margin-top: -15px;
	text-align:center;
	position:relative;
	top:0px;
}

.rank-position-neutral{
    margin-top: 0px;
}


.point {
	vertical-align:top;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background: #E0E0E0;
	position:relative;
	top:0px;
}

.point-active {
	background-image: linear-gradient(to bottom, #DFF0D8 0px, #C8E5BC 100%);
}

.point img {
	display: block;
	width: 48px;
	height: 48px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.4;
}

.point-active img {
	opacity: 1.0;
}

.point-rank {
	display:flex;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	left: 32%;
	margin-left: -15px;
}

/* ----------------------------------------------- */
/*                 Achievement                     */
/* ----------------------------------------------- */

.point-achievement {
	display: block;
	width: 64px;
	height: 64px;
	margin: 10px;
	float: left;
	border-radius: 10%;
	left: auto;
}

.point-achievement img {
	display: block;
	width: 64px;
	height: 64px;
	position: relative;
	margin: auto;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
}

.message-image {
	width: 64px;
	height: 64px;
}

.achievement-tooltip:before{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #E4F1DF;
	margin-left: -10px;
	content: "";
	left: 50%;
	top: 100%;
	margin-top: 3px;
	position: absolute;
	z-index: 99;
}

.achievement-tooltip:after{
	vertical-align: top;
	text-align: center;
	background: #E4F1DF;
	color: #000;
	padding: 5px 15px;
	overflow: visible;
	word-wrap: normal;
	width: 240px;
	margin-top: 10px;
	top: 100%;
	border-radius: 3px;
	display: block;
	font-size: 12px;
	content: attr(data-tooltip-title) '\a' attr(data-tooltip-text);
	white-space: pre-wrap;
	position: absolute;
	z-index: 98;
	box-shadow: 0 0 3px #888;
}

.rank.achievement-tooltip:before {
	margin-left: -28px;
}
.rank.achievement-tooltip:after {
	width: 120px;
}

/* ----------------------------------------------- */
/*                   Reporting                     */
/* ----------------------------------------------- */

#tableReportUserList td {
	vertical-align: middle;
}

#tableReportUserList img {
	width: 32px;
	height: 32px;
}

/* ----------------------------------------------- */
/*                   GameReport					   */
/* ----------------------------------------------- */

.game-report-row {
	margin: 5px 5px;
	padding: 10px 0;
}

.game-report-active {
	background-color: #FAFAFA;
}

.game-report-progress {
	margin: 0;
}

.width-3 {
	width: 25%;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.countdown-title {
	color: black;
	margin-right: 5px;
}

.progress-bar-title {
	color: black;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.progress-bar-togo {
	color: black;
	float: left;
	text-align: center;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}

.progress-bar-white {
	background-color: white
}

.display-inline-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.warp{
	max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

	/*overflow: pre-wrap;
	word-wrap: normal;
	white-space: pre-wrap;
	text-overflow: ellipsis */
}
/* ----------------------------------------------- */
/*                     Footer                      */
/* ----------------------------------------------- */
footer ul {
	margin: 0;
}

